body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}
.container{
    text-align: center;
}

.digitando{
    color: white;
    font-family: monospace;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    width: 0;
    animation: digitar 4s steps(25) 1s forwards, piscar 0.6s infinite;
}

@keyframes digitar{
    from{
        width: 0;
    }
    to{
        width: 500px;
    }
}

@keyframes piscar{
    50%{
        border-color: transparent;
    }
}