div{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}

.caixa1{
    background: linear-gradient(150deg, red, blue);
/*por padrao de cima para baixo*/
}
 .caixa2{
    background: radial-gradient( ellipse at top left, orange, yellow,50%, green 80%);
    /*circle, ellipse*/
    /*center, at bottom right, top left, top right, bottom left*/
 }

 .caixa3{
    background: conic-gradient(at top left, red, yellow,blue, green);
 }



