/*header*/
header {
  background-color: rgba(248, 246, 237, 0.0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  border-bottom: 3px solid rgba(0, 0, 0, 1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


.logo img {
  width: 130px;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 70px;
  font-size: 24px;
}

.menu a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 500;
  transition: color 0.2s;
}

.menu a:hover {
  color: #3ba849;
}

.menu span {
  color: #aaa;
}

.botregi {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 6px 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all 0.2s;
}

.botregi:hover {
  background-color: #3ba849;
  color: #fff;
  border-color: #3ba849;
}
/*Body*/
body {
  font-family: "Poppins", sans-serif;
  background: #fafaf2;
  margin: 0;
  background-image: url("WhatsApp Image 2025-10-30 at 14.09.31.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-size: 80px;
}
