/*css*/

.cartao {
    width: 250px;
    height: 300px;
    perspective: 1000px;

}

.interno {
    height: 100%;
    position: relative;
    width: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartao:hover .interno {
    transform: rotateY(180deg);


}

.frente,
.verso {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.frente {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verso {
    background-color: blue;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}