.cartao{
    width: 250px;
    height: 300px;
    position: relative;
    border: 2px solid black;
}

.frente, .verso{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frente{
    background-color: green;
}

.verso{
    background-color: red;
opacity: 0;
}
.cartao:hover .frente{
opacity: 0;
}

.cartao:hover .verso{
    opacity: 1;
}