div{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}
body{
    display: flex;
    flex-wrap: wrap;
}

.caixa1{
    background:linear-gradient(150deg,red, blue ) ;
}

.caixa2{
    background: linear-gradient(to left, green,yellow,orange);
}

.caixa3{
    background: linear-gradient(45deg, purple,pink,white)
}

.caixa4{
    background: radial-gradient(  blue, rgb(138, 164, 250))
}

.caixa5{
    background:radial-gradient( ellipse at top left, pink, white);
}

.caixa6{
    background: conic-gradient(red, yellow,green,blue);
}